<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissão para acesso à Internet (necessário para API) -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Pas"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <!-- Activity Principal - Lista de receitas da API -->
        <activity
            android:name=".ui.home.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Activity de Detalhes da Receita -->
        <activity
            android:name=".ui.details.RecipeDetailActivity"
            android:exported="false" />

        <!-- Activity de Receitas do Utilizador (locais) -->
        <activity
            android:name=".ui.user.UserRecipesActivity"
            android:exported="false" />

        <!-- Activity para Adicionar/Editar Receita -->
        <activity
            android:name=".ui.user.AddEditRecipeActivity"
            android:exported="false" />

    </application>

</manifest>